<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="https://optimisticmommy.com/wp-content/uploads/2020/06/dogs-sitting-matt-nelson-aI3EBLvcyu4-unsplash.jpg"
                class="img-fluid" alt="four dogs on a leash"></img>
        </div>
        <div class="col-md-4 my-auto">
            <article id="small-article" class="text-center px-1 py-3">
                <h2>Small blurb</h2>
                <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit voluptate a nemo cumque
                    vitae, fugiat maiores inventore tenetur dignissimos voluptates laboriosam possimus obcaecati
                    ex. Sunt accusantium nobis eum corrupti.</a>
            </article>
            <article id="learn-more" class="text-center py-5">
                <h2>Learn More</h2>
            </article>
        </div>
    </div>
</div>
<div id="about" class="container-fluid">
    <article class="text-center px-0 py-5">
        <h2>About</h2>
        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit voluptate a nemo cumque vitae,
            fugiat maiores inventore tenetur dignissimos voluptates laboriosam possimus obcaecati ex. Sunt
            accusantium nobis eum corrupti.</a>
    </article>
</div>
<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-md-4 my-auto">
            <article id="small-article" class="text-center py-5">
                <h2>Request</h2>
            </article>
            <article id="watch-pet" class="text-center py-5">
                <h2>Watch someone's pet!</h2>
            </article>
        </div>
        <div class="col-md-8">
            <img src="https://optimisticmommy.com/wp-content/uploads/2020/06/dogs-sitting-matt-nelson-aI3EBLvcyu4-unsplash.jpg"
                class="img-fluid" alt="four dogs on a leash"></img>
        </div>
    </div>
</div>