
        <div class="container">
            <div id="forms" class="row justify-content-evenly">
                <section id="sign-in" class="mx-auto my-auto py-4">
                    <form id="sign-in-style">
                        <h1 class="text-center">LOGIN</h1>
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-outline-light me-2" type="button">Sign In</button>
                </section>
                <section id="sign-in" class="mx-auto my-auto py-4">
                    <form id="sign-in-style">
                        <h1 class="text-center">JOIN US!</h1>
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-md-4 col-form-label">Username</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-outline-light me-2" type="button">Sign Up</button>
                </section>
            </div>
        </div>
