<conatiner class="container-fluid">
    <div class="card mb-3 mx-auto" style="max-width: 95%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://picsum.photos/id/237/400/300" class="img-fluid rounded-start" alt="profile picture">
            </div>
            <div id="small-article" class="col-md-8 mb-0">
                <div class="card-body">
                    <h1 class="card-title pb-4">USERNAME</h1>
                    <h3 class="card-title pb-1">Email: email@email.com</h3>
                    <h3 class="card-title pb-5">My Pets: "pets" </h3>
                    <button class="btn btn-outline-dark me-2" type="button">Add another pet!</button>
                </div>
            </div>
        </div>
    </div>
</conatiner>